
<style>
.footercontainer{
  position: relative;
  bottom: 100px;
  width: 70%;
  height: 2.5rem;            
}
.icons{
	padding: 5px 5px 5px 5px;
}
</style>

<footer class="footercontainer">
<div class="copyrightinfo">
<span class="year "> 2019 <i class="copyright "></i>Travel Too</span>
</div>

</footer>